<a href="https://colab.research.google.com/github/hirokimituya/book_create-profitable-AI-with-Python/blob/main/technical_analysis/%E9%8A%98%E6%9F%84%E9%81%B8%E5%AE%9A%E9%96%A2%E6%95%B0_csv%E4%BF%9D%E5%AD%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Google Colaboratoryに画像を保存できるように設定
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/株式投資')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Ta-Libの代替としてpandas_taを利用している。Ta-Libの関数名を小文字にしたものがあるイメージ
!pip install pandas_ta

Requirement already satisfied: pandas_ta in /usr/local/lib/python3.10/dist-packages (0.3.14b0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)

In [3]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in /usr/local/lib/python3.10/dist-packages (0.0.12)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (6.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from yahoo_finance_api2) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_finance_api2) (2023.7.22)

# 銘柄コードから株価情報を取得する関数

In [4]:
from yahoo_finance_api2 import share as yapi2
from yahoo_finance_api2.exceptions import YahooFinanceError
import datetime as dt
from datetime import date,timedelta
import pandas as pd

# 株価データを取得するメソッド
def get_stock_data_yapi2(code, period_type='year', period=10):
    """株価データを取得する

    :param code: 取得する株価データの銘柄コード
    :param period_type: 取得する株価データの期間の単位（例: 'year', 'month', 'week', 'day'）
    :param period: 取得する株価データの期間の数値
    :return: 株価データのデータフレーム（もし株価データが存在しない場合は、None）
    """
    if period_type == 'month':
        period_type_value = yapi2.PERIOD_TYPE_MONTH
    elif period_type == 'week':
        period_type_value = yapi2.PERIOD_TYPE_WEEK
    elif period_type == 'day':
        period_type_value = yapi2.PERIOD_TYPE_DAY
    else:
        period_type_value = yapi2.PERIOD_TYPE_YEAR

    try:
        data = yapi2.Share(f'{code}.T').get_historical(
            period_type_value,
            period,
            yapi2.FREQUENCY_TYPE_DAY,
            1
        )
    except YahooFinanceError as e:
        print(e.message)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    df = pd.DataFrame(data)

    try:
        # タイムスタンプをDateTime型に変更
        df['datetime'] = pd.to_datetime(df['timestamp'], unit='ms')
    except KeyError as e:
        print(e)
        print(f'銘柄コード[{code}]の株価情報を取得できなかったため、スキップしました。')
        return None

    # 日本時間へ変換
    df['Date'] = df['datetime'] + dt.timedelta(hours=9)

    # インデックスをDateカラムに設定
    df.index = pd.to_datetime(df['Date'].dt.date)

    # 不要なカラムを削除
    del df['Date'], df['datetime'], df['timestamp']

    # 各カラムの最初の文字を大文字に変換
    for col in df.columns:
        df[f'{col.capitalize()}'] = df[col]
        del df[col]

    return df

# 東証上場の銘柄一覧を取得する関数（ダウンロードはしない）

In [5]:
from pandas.io.formats.info import DataFrameTableBuilderNonVerbose
import requests
import pandas as pd

def get_ticker_tse(segment='prime'):
    """東証上場の銘柄コード一覧を取得する

    :param segment: 東証上場の市場区分（例: 'prime' or 'standard' or 'grows'）
    :return: 東証上場の銘柄コード一覧
    """
    segments = {
        'prime': 'プライム',
        'standard': 'スタンダード',
        'grows': 'グロース'
    }

    if segment not in segments:
        raise Exception("get_ticker_tse関数のsegment引数の値は'prime', 'standard', 'grows'のいずれかにしてください")

    # サイトからダウンロードしないようにコメントアウト
    # url = "https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls"
    # r = requests.get(url)
    # with open('./data/data_j.xls', 'wb') as output:
    #    output.write(r.content)

    df = pd.read_excel("./data/data_j.xls")

    # 引数の市場区分のみに絞り込み
    df = df[df['市場・商品区分'].str.startswith(segments[segment])]

    # カラムの削除とカラム名変更
    df = df[['銘柄名', 'コード', '33業種区分']]   # 必要なカラムのみにする
    df = df.rename(columns={'33業種区分': '業種'})
    df['コード'] = df['コード'].astype(int) # コードを整数に変更

    return df

# 株価情報を出来高や株価、パーフェクトオーダーでフィルタリングする関数

In [6]:
import pandas_ta as ta
import math

def is_perfect_order(stock_df, mas, period_type='D', reverse=False):
    """株価情報がパーフェクトオーダーどうかの判定

    :param stock_df: 対象の株価情報のデータフレーム
    :param mas: 移動平均線に使用するためのリスト（例: [5, 25, 75]）
    :param period_type: 期間をどの単位にするか（'W' or 'M'）
    :param reverse: 下降トレンドのパーフェクトオーダーを検出する場合は、True / 上昇トレンドの場合は、False
    :return: 株価情報がパーフェクトオーダーの場合は、True / それ以外の場合は、False
    """

    df = stock_df.copy()

    # 月足、周足にリサンプリング
    if period_type in ('M', 'W'):
        resampled = df.resample(period_type)
        df = resampled.aggregate({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'})

    close = df['Close']

    # 移動平均線の算出
    for ma in mas:
        df[f'ma{ma}{period_type}'] = ta.sma(close, ma)

    # パーフェクトオーダーかどうかの判定
    conditions = []
    try:
        if not reverse:
            # 上昇トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) >= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
        else:
            # 下降トレンド
            for i in range(len(mas) - 1):
                conditions.append(math.ceil(df[f'ma{mas[i]}{period_type}'].values[-1]) <= math.ceil(df[f'ma{mas[i + 1]}{period_type}'].values[-1]))
    except:
        # 株価情報が少なくて移動平均線が取得できない場合は、無条件でFalseでリターンする
        return False


    result = all(conditions)

    return result

In [7]:
def filtered_ticker(df, min_volume=None, max_price=None, min_price=None, perfect_order={}):
    """データフレームの銘柄コードから株価情報を取得して、指定された出来高や株価でフィルタリングする

    :param df: 対象のデータフレーム
    :param min_volume: 出来高の最小値を指定
    :param max_price: 株価の最大値を指定
    :param min_price: 株価の最小値を指定
    :param perfect_order: パーフェクトオーダーの判定に使用する辞書（例: {'mas': [5, 20, 60], 'period_type': 'D', 'reverse': False}）（辞書のキー'mas'のみ必須）
    :return: 出来高や株価でフィルタリングしたデータフレーム
    """
    result_list = []

    # データフレームを辞書のリストに変更
    df_to_dicts = df.to_dict(orient='records')

    # 各銘柄についてループ
    for row in df_to_dicts:
        # コードを取得
        code = row['コード']

        # 株価情報を取得
        if not perfect_order:
            stock_data = get_stock_data_yapi2(code, period_type='day', period=2)
        else:
            largest_mas = perfect_order.get('mas')[-1]
            period_type = perfect_order.get('period_type', 'D')
            if period_type == 'D':
                period = math.ceil(largest_mas / 15)
                stock_data = get_stock_data_yapi2(code, period_type='month', period=period)
            elif period_type == 'W':
                period = math.ceil(largest_mas * 7 / 365)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            elif period_type == 'M':
                period = math.ceil(largest_mas / 10)
                stock_data = get_stock_data_yapi2(code, period_type='year', period=period)
            else:
                raise ValueError('引数perfect_orderは"D"か"W"か"M"のいずれかを指定してください')
        # 株価情報が取得できなかったら、次の銘柄コードに遷移
        if stock_data is None:
            continue

        # 出来高の条件に合わない場合、次の銘柄コードに遷移
        volume = stock_data['Volume'][-1]
        if min_volume is not None and volume < min_volume:
            continue

        # 価格の条件に合わない場合、次の銘柄コードに遷移
        price = stock_data['Close'][-1]
        if max_price is not None and price > max_price:
            continue
        if min_price is not None and price < min_price:
            continue

        # パーフェクトオーダーの条件に合わない場合、次の銘柄コードに遷移
        if perfect_order:
            mas = perfect_order.get('mas')
            period_type = perfect_order.get('period_type', 'D')
            reverse = perfect_order.get('reverse', False)
            if not is_perfect_order(stock_data, mas=mas, period_type=period_type, reverse=reverse):
                continue

        # 銘柄名と業種を設定
        result_list.append({
            '銘柄名': row['銘柄名'],
            'コード': code,
            '業種': row['業種'],
            '出来高': volume,
            '株価': price,
        })

    # 辞書のリストをデータフレームに変換
    result_df = pd.DataFrame.from_dict(result_list)

    return result_df

# CSVに保存する関数

In [8]:
import datetime as dt
import os
import pytz

jst = pytz.timezone('Asia/Tokyo')
now = dt.datetime.now(jst)
now = now.strftime("%Y%m%d_%H%M%S")
# ディレクトリ名作成（YYYYMMDD_HHMMSS_screening）
directory = f'{now}_screening'

def save_df_as_csv(df, filename):
    """データフレームをCSVファイルとして保存する

    :param df: 対象のデータフレーム
    :param filename: 保存するcsvファイル名
    """
    # もしディレクトリが存在しなければ、作成する
    if not os.path.exists(directory):
        os.makedirs(directory)

    # データフレームをCSVに保存する
    df.to_csv(f'{directory}/{filename}.csv', index=False)

# 東証プライムをフィルタリングしてCSVとして保存

In [9]:
# 東証プライム市場の銘柄コードを取得
tse_prime = get_ticker_tse('prime')
tse_prime

                  銘柄名   コード      業種
0                  極洋  1301  水産・農林業
16               ニッスイ  1332  水産・農林業
17             マルハニチロ  1333  水産・農林業
33             雪国まいたけ  1375  水産・農林業
35             サカタのタネ  1377  水産・農林業
...               ...   ...     ...
4272           サンドラッグ  9989     小売業
4273  サックスバー　ホールディングス  9990     小売業
4274             ジェコス  9991     卸売業
4277            グローセル  9995     卸売業
4279             ベルーナ  9997     小売業

[1836 rows x 3 columns]

In [10]:
# 東証プライムの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... １００円以上、5000円以下
import time
start_time = time.time()
filtered_tse_prime = filtered_ticker(tse_prime, min_volume=500000, min_price=100, max_price=5000)
print(f'経過時間: {time.time() - start_time}秒')
filtered_tse_prime

Not Found: No data found, symbol may be delisted
銘柄コード[25935]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[50749]の株価情報を取得できなかったため、スキップしました。
経過時間: 348.3619318008423秒

             銘柄名   コード      業種      出来高           株価
0           ニッスイ  1332  水産・農林業  3325500   762.500000
1          ＩＮＰＥＸ  1605      鉱業  5029500  2007.500000
2       オリエンタル白石  1786     建設業   806900   322.000000
3           大成建設  1801     建設業   539200  4826.000000
4            大林組  1802     建設業  1053300  1285.500000
..           ...   ...     ...      ...          ...
296    エイチ・アイ・エス  9603   サービス業   627300  1997.000000
297   ＮＴＴデータグループ  9613  情報・通信業  2576900  1881.500000
298  ヤマダホールディングス  9831     小売業  3863900   465.200012
299  吉野家ホールディングス  9861     小売業   712200  2772.500000
300    ミスミグループ本社  9962     卸売業   833400  2470.000000

[301 rows x 5 columns]

In [11]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20], 'period_type': 'W'})
filtered_perfect_order_week_tse_prime

             銘柄名   コード      業種      出来高           株価
0           ニッスイ  1332  水産・農林業  3325500   762.500000
1          ＩＮＰＥＸ  1605      鉱業  5029500  2007.500000
2       オリエンタル白石  1786     建設業   806900   322.000000
3           大成建設  1801     建設業   539200  4826.000000
4            大林組  1802     建設業  1053300  1285.500000
..           ...   ...     ...      ...          ...
207         東京瓦斯  9531  電気・ガス業   852500  3310.000000
208         大阪瓦斯  9532  電気・ガス業  1193100  2277.500000
209    エイチ・アイ・エス  9603   サービス業   627300  1997.000000
210  ヤマダホールディングス  9831     小売業  3863900   465.200012
211  吉野家ホールディングス  9861     小売業   712200  2772.500000

[212 rows x 5 columns]

In [12]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_prime = filtered_ticker(filtered_perfect_order_week_tse_prime,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_prime

             銘柄名   コード      業種      出来高           株価
0           ニッスイ  1332  水産・農林業  3325500   762.500000
1          ＩＮＰＥＸ  1605      鉱業  5029500  2007.500000
2       オリエンタル白石  1786     建設業   806900   322.000000
3           鹿島建設  1812     建設業  1622200  2360.000000
4         三井住友建設  1821     建設業   795700   397.000000
..           ...   ...     ...      ...          ...
107         東北電力  9506  電気・ガス業  1794300   994.500000
108         電源開発  9513  電気・ガス業   609300  2258.000000
109         東京瓦斯  9531  電気・ガス業   852500  3310.000000
110         大阪瓦斯  9532  電気・ガス業  1193100  2277.500000
111  ヤマダホールディングス  9831     小売業  3863900   465.200012

[112 rows x 5 columns]

In [13]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_prime, '1_東証P_UPO')

In [14]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_prime = filtered_ticker(filtered_tse_prime, perfect_order={'mas': [5, 20], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_prime

                  銘柄名   コード      業種      出来高           株価
0              ＬＩＦＵＬＬ  2120   サービス業   891300   229.000000
1   日本Ｍ＆Ａセンターホールディングス  2127   サービス業  5682500   789.700012
2        パーソルホールディングス  2181   サービス業   577700  2516.500000
3                システナ  2317  情報・通信業   993300   264.000000
4             日本駐車場開発  2353    不動産業  1681500   219.000000
..                ...   ...     ...      ...          ...
84               ＫＤＤＩ  9433  情報・通信業  3306100  4270.000000
85             イーレックス  9517  電気・ガス業   552400   939.000000
86                レノバ  9519  電気・ガス業  1006100  1402.000000
87         ＮＴＴデータグループ  9613  情報・通信業  2576900  1881.500000
88          ミスミグループ本社  9962     卸売業   833400  2470.000000

[89 rows x 5 columns]

In [15]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_prime = filtered_ticker(filtered_reverse_perfect_order_week_tse_prime, perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_prime

             銘柄名   コード      業種      出来高      株価
0         ＬＩＦＵＬＬ  2120   サービス業   891300   229.0
1   パーソルホールディングス  2181   サービス業   577700  2516.5
2          カカクコム  2371   サービス業   797100  1707.5
3      ベネフィット・ワン  2412   サービス業   567400  1211.0
4          エムスリー  2413   サービス業  1893000  2806.0
..           ...   ...     ...      ...     ...
64          日本通信  9424  情報・通信業  1977400   229.0
65        イーレックス  9517  電気・ガス業   552400   939.0
66           レノバ  9519  電気・ガス業  1006100  1402.0
67    ＮＴＴデータグループ  9613  情報・通信業  2576900  1881.5
68     ミスミグループ本社  9962     卸売業   833400  2470.0

[69 rows x 5 columns]

In [16]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_prime, '4_東証P_DPO')

# 東証スタンダードをフィルタリングしてCSVとして保存

In [17]:
# 東証スタンダード市場の銘柄コードを取得
tse_standard = get_ticker_tse('standard')
tse_standard

         銘柄名   コード      業種
34     カネコ種苗  1376  水産・農林業
37      秋川牧園  1380  水産・農林業
38     アクシーズ  1381  水産・農林業
39       ホーブ  1382  水産・農林業
40    ベルグアース  1383  水産・農林業
...      ...   ...     ...
4267   タキヒヨー  9982     卸売業
4270    蔵王産業  9986     卸売業
4275    ヤマザワ  9993     小売業
4276     やまや  9994     小売業
4278   サトー商会  9996     卸売業

[1442 rows x 3 columns]

In [18]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... 100円以上、5000円以下
filtered_tse_standard = filtered_ticker(tse_standard, min_volume=200000, min_price=100, max_price=5000)
filtered_tse_standard

'timestamp'
銘柄コード[92649]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9967]の株価情報を取得できなかったため、スキップしました。

               銘柄名   コード          業種     出来高           株価
0     ウエストホールディングス  1407         建設業  273100  2604.000000
1       住石ホールディングス  1514          鉱業  253000   360.000000
2            塩水港精糖  2112         食料品  345800   259.000000
3           フジ日本精糖  2114         食料品  202600  1089.000000
4             クルーズ  2138      情報・通信業  340400  1001.000000
..             ...   ...         ...     ...          ...
65             アコム  8572      その他金融業  896400   340.600006
66  トレイダーズホールディングス  8704  証券、商品先物取引業  211900   738.000000
67            小林洋行  8742  証券、商品先物取引業  402000   227.000000
68           ノバレーゼ  9160       サービス業  204600   393.000000
69          日本テレホン  9425      情報・通信業  591900   355.000000

[70 rows x 5 columns]

In [19]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20], 'period_type': 'W'})
filtered_perfect_order_week_tse_standard

                     銘柄名   コード          業種      出来高           株価
0                  塩水港精糖  2112         食料品   345800   259.000000
1                 フジ日本精糖  2114         食料品   202600  1089.000000
2                   クルーズ  2138      情報・通信業   340400  1001.000000
3             ＹＥ　ＤＩＧＩＴＡＬ  2354      情報・通信業   282000   650.000000
4                  鉄人化計画  2404       サービス業   200800   407.000000
5   Ｓｈｉｎｗａ　Ｗｉｓｅ　Ｈｏｌｄｉｎｇｓ  2437       サービス業   203900   618.000000
6                    出前館  2484      情報・通信業   603400   408.000000
7         シー・ヴイ・エス・ベイエリア  2687         小売業   419600  1030.000000
8          アップルインターナショナル  2788         卸売業   486300   434.000000
9          ポラリス・ホールディングス  3010       サービス業   842000   171.000000
10               ビューティ花壇  3041         卸売業  1056700  1094.000000
11             ダイドーリミテッド  3205        繊維製品   375000   301.000000
12         プレサンスコーポレーション  3254        不動産業   210400  1834.000000
13             ＴＨＥグローバル社  3271        不動産業   213400   422.000000
14                  日本製麻  3306         卸売業   361600   944.000000
15        クラウディアホールディングス  3607        繊維製品   373000   905.000000
16      ジェイ・エスコムホールディングス  3779      情報・通信業  6214600   173.000000
17                    パス  3840      情報・通信業   208900   114.000000
18      ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993      情報・通信業   501600  2585.000000
19                  アテクト  4241          化学  1002300   764.000000
20        セプテーニ・ホールディングス  4293       サービス業   514000   414.000000
21                 Ｓｐｅｅｅ  4499      情報・通信業   223300  2770.000000
22              環境管理センター  4657       サービス業  1124100   614.000000
23                  キタック  4707       サービス業   290400   399.000000
24                日本山村硝子  5210    ガラス・土石製品   438900  1984.000000
25                  アマテイ  5952        金属製品   215500   151.000000
26               アトラグループ  6029       サービス業  1520200   272.000000
27               ＡＩメカテック  6227          機械   283500  2773.000000
28      アライドテレシスホールディングス  6835        電気機器   306200   105.000000
29         ＡＫＩＢＡホールディングス  6840        電気機器   248400   518.000000
30                 キョウデン  6881        電気機器   296300   598.000000
31                 名村造船所  7014       輸送用機器  6770500   852.000000
32    ＧＭＯフィナンシャルホールディングス  7177  証券、商品先物取引業   289200   722.000000
33                 ニチリョク  7578         小売業   914600   570.000000
34                  テイツー  7610         小売業   897300   188.000000
35                 クボテック  7709        精密機器  1955300   307.000000
36                アルメディオ  7859       その他製品   220000   467.000000
37         ラオックスホールディングス  8202         小売業  3092700   282.000000
38                 近鉄百貨店  8244         小売業   203500  2779.000000
39                   井筒屋  8260         小売業   254100   398.000000
40                 Ｊトラスト  8508      その他金融業   273300   437.000000
41                  福島銀行  8562         銀行業   252900   220.000000
42                   アコム  8572      その他金融業   896400   340.600006
43        トレイダーズホールディングス  8704  証券、商品先物取引業   211900   738.000000
44                日本テレホン  9425      情報・通信業   591900   355.000000

In [20]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_standard = filtered_ticker(filtered_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_standard

                   銘柄名   コード          業種      出来高      株価
0                塩水港精糖  2112         食料品   345800   259.0
1               フジ日本精糖  2114         食料品   202600  1089.0
2                 クルーズ  2138      情報・通信業   340400  1001.0
3           ＹＥ　ＤＩＧＩＴＡＬ  2354      情報・通信業   282000   650.0
4                鉄人化計画  2404       サービス業   200800   407.0
5       シー・ヴイ・エス・ベイエリア  2687         小売業   419600  1030.0
6        アップルインターナショナル  2788         卸売業   486300   434.0
7        ポラリス・ホールディングス  3010       サービス業   842000   171.0
8            ダイドーリミテッド  3205        繊維製品   375000   301.0
9            ＴＨＥグローバル社  3271        不動産業   213400   422.0
10                日本製麻  3306         卸売業   361600   944.0
11    ジェイ・エスコムホールディングス  3779      情報・通信業  6214600   173.0
12                アテクト  4241          化学  1002300   764.0
13      セプテーニ・ホールディングス  4293       サービス業   514000   414.0
14            環境管理センター  4657       サービス業  1124100   614.0
15                キタック  4707       サービス業   290400   399.0
16              日本山村硝子  5210    ガラス・土石製品   438900  1984.0
17                アマテイ  5952        金属製品   215500   151.0
18             アトラグループ  6029       サービス業  1520200   272.0
19             ＡＩメカテック  6227          機械   283500  2773.0
20               キョウデン  6881        電気機器   296300   598.0
21               名村造船所  7014       輸送用機器  6770500   852.0
22  ＧＭＯフィナンシャルホールディングス  7177  証券、商品先物取引業   289200   722.0
23               ニチリョク  7578         小売業   914600   570.0
24       ラオックスホールディングス  8202         小売業  3092700   282.0
25                 井筒屋  8260         小売業   254100   398.0
26      トレイダーズホールディングス  8704  証券、商品先物取引業   211900   738.0

In [21]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_standard, '2_東証S_UPO')

In [22]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_standard = filtered_ticker(filtered_tse_standard, perfect_order={'mas': [5, 20], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_standard

                          銘柄名   コード          業種      出来高      株価
0                ウエストホールディングス  1407         建設業   273100  2604.0
1                  住石ホールディングス  1514          鉱業   253000   360.0
2                         クシム  2345      情報・通信業   351100   313.0
3                     イメージ　ワン  2667         卸売業   665100   622.0
4                         セリア  2782         小売業   204400  2290.0
5                ＪＦＬＡホールディングス  3069         小売業   361200   194.0
6                          白鳩  3192         小売業   322400   340.0
7   ユナイテッド・スーパーマーケット・ホールディングス  3222         小売業   241300  1133.0
8                        セルシス  3663      情報・通信業   343000   745.0
9                       ｅｎｉｓｈ  3667      情報・通信業   378000   256.0
10                  ディー・エル・イー  3686      情報・通信業   288900   265.0
11                 ブロードバンドタワー  3776      情報・通信業   276400   143.0
12                  リミックスポイント  3825      情報・通信業   309100   223.0
13          ハーモニック・ドライブ・システムズ  6324          機械   205100  3630.0
14                    千代田化工建設  6366         建設業   456600   371.0
15              ＪＡＬＣＯホールディングス  6625        不動産業   488800   205.0
16                    シライ電子工業  6658        電気機器   512800   568.0
17            フェローテックホールディングス  6890        電気機器   585200  3030.0
18           ヘリオス　テクノ　ホールディング  6927        電気機器   492800   440.0
19                 住信ＳＢＩネット銀行  7163         銀行業   351800  1511.0
20                        ＧＭＢ  7214       輸送用機器  1113900  1900.0
21                 アースインフィニティ  7692         小売業   611900   158.0
22                     アルメディオ  7859       その他製品   220000   467.0
23                      ヨネックス  7906       その他製品   228600  1366.0
24                       小林洋行  8742  証券、商品先物取引業   402000   227.0

In [23]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_standard = filtered_ticker(filtered_reverse_perfect_order_week_tse_standard,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_standard

                  銘柄名   コード          業種     出来高      株価
0        ウエストホールディングス  1407         建設業  273100  2604.0
1                 クシム  2345      情報・通信業  351100   313.0
2             イメージ　ワン  2667         卸売業  665100   622.0
3        ＪＦＬＡホールディングス  3069         小売業  361200   194.0
4               ｅｎｉｓｈ  3667      情報・通信業  378000   256.0
5          ブロードバンドタワー  3776      情報・通信業  276400   143.0
6           リミックスポイント  3825      情報・通信業  309100   223.0
7   ハーモニック・ドライブ・システムズ  6324          機械  205100  3630.0
8     フェローテックホールディングス  6890        電気機器  585200  3030.0
9    ヘリオス　テクノ　ホールディング  6927        電気機器  492800   440.0
10         住信ＳＢＩネット銀行  7163         銀行業  351800  1511.0
11         アースインフィニティ  7692         小売業  611900   158.0
12              ヨネックス  7906       その他製品  228600  1366.0
13               小林洋行  8742  証券、商品先物取引業  402000   227.0

In [24]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_standard, '5_東証S_DPO')

# 東証グロースをフィルタリングしてCSVとして保存

In [25]:
# 東証スタンダード市場の銘柄コードを取得
tse_grows = get_ticker_tse('grows')
tse_grows

                     銘柄名   コード     業種
45         ルーデン・ホールディングス  1400    建設業
46                エムビーエス  1401    建設業
55              Ｌｉｂ　Ｗｏｒｋ  1431    建設業
60                  フィット  1436    建設業
65                  ニッソウ  1444    建設業
...                  ...   ...    ...
4091              プログリット  9560  サービス業
4092            グラッドキューブ  9561  サービス業
4093             ビジネスコーチ  9562  サービス業
4094  Ａｔｌａｓ　Ｔｅｃｈｎｏｌｏｇｉｅｓ  9563  サービス業
4096       ウェルプレイド・ライゼスト  9565  サービス業

[546 rows x 3 columns]

In [26]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 20万株以上
# 株価 ... １００円以上、5000円以下
filtered_tse_grows = filtered_ticker(tse_grows, min_volume=200000, min_price=100, max_price=5000)
filtered_tse_grows

'timestamp'
銘柄コード[3782]の株価情報を取得できなかったため、スキップしました。

              銘柄名   コード      業種      出来高      株価
0           ケアネット  2150   サービス業   281200   869.0
1         ＦＲＯＮＴＥＯ  2158   サービス業   312800   680.0
2      ジーエヌアイグループ  2160     医薬品  9971900  2095.0
3    ウェッジホールディングス  2388  その他金融業   523200   147.0
4             アマナ  2402   サービス業   538400   553.0
..            ...   ...     ...      ...     ...
83           スマサポ  9342   サービス業   306600  1890.0
84   リニューアブル・ジャパン  9522  電気・ガス業  2073200  1147.0
85  Ｍ＆Ａ総研ホールディングス  9552   サービス業   678200  3500.0
86         マイクロアド  9553   サービス業   525900  3035.0
87         プログリット  9560   サービス業   272800  1113.0

[88 rows x 5 columns]

In [27]:
# 株価情報が上昇トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20], 'period_type': 'W'})
filtered_perfect_order_week_tse_grows

                 銘柄名   コード          業種      出来高      株価
0            ＦＲＯＮＴＥＯ  2158       サービス業   312800   680.0
1         ジーエヌアイグループ  2160         医薬品  9971900  2095.0
2       ウェッジホールディングス  2388      その他金融業   523200   147.0
3             ベースフード  2936         食料品   365400   579.0
4          ソーシャルワイヤー  3929      情報・通信業  1013100   327.0
5       シェアリングテクノロジー  3989      情報・通信業   843200   718.0
6                アララ  4015      情報・通信業  1249700   784.0
7                ヤプリ  4168      情報・通信業   396500  1442.0
8              ＷＡＣＵＬ  4173      情報・通信業   496400   989.0
9           スパイダープラス  4192      情報・通信業   223300   685.0
10            ＨＥＮＮＧＥ  4475      情報・通信業   693900  1003.0
11              ＢＡＳＥ  4477      情報・通信業  2716600   323.0
12           免疫生物研究所  4570         医薬品  5652400   800.0
13       カルナバイオサイエンス  4572         医薬品   395600   874.0
14            メドレックス  4586         医薬品  8340900   264.0
15           メディアシーク  4824      情報・通信業   491700   322.0
16      プレミアアンチエイジング  4934          化学   322100  1289.0
17            ｊｉｇ．ｊｐ  5244      情報・通信業   713800   437.0
18               カバー  5253      情報・通信業  2109600  2171.0
19          弁護士ドットコム  6027       サービス業   211700  4725.0
20            Ｕｎｉｐｏｓ  6550       サービス業   491000   198.0
21    ＨＡＮＡＴＯＵＲ　ＪＡＰＡＮ  6561       サービス業   328400  2392.0
22  アジャイルメディア・ネットワーク  6573       サービス業   456100  1437.0
23             ＱＤレーザ  6613        電気機器   518600   707.0
24               ポート  7047       サービス業   287000  2711.0
25     トゥエンティーフォーセブン  7074       サービス業  1457200   350.0
26            ウェルスナビ  7342  証券、商品先物取引業   421600  1219.0
27          東京通信グループ  7359       サービス業   700000  1227.0
28      メイホーホールディングス  7369       サービス業   224600  2931.0
29  サマンサタバサジャパンリミテッド  7829       その他製品   211900   139.0
30     グローム・ホールディングス  8938        不動産業   329700  1316.0
31    バリュエンスホールディングス  9270         卸売業   222700  2490.0
32                和心  9271         小売業   249400   496.0
33          ＩＮＦＯＲＩＣＨ  9338       サービス業   621700  3385.0
34              スマサポ  9342       サービス業   306600  1890.0
35      リニューアブル・ジャパン  9522      電気・ガス業  2073200  1147.0

In [28]:
# 株価情報が上昇トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_perfect_order_week_day_tse_grows = filtered_ticker(filtered_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60]})
filtered_perfect_order_week_day_tse_grows

                 銘柄名   コード      業種      出来高      株価
0         ジーエヌアイグループ  2160     医薬品  9971900  2095.0
1             ベースフード  2936     食料品   365400   579.0
2                アララ  4015  情報・通信業  1249700   784.0
3                ヤプリ  4168  情報・通信業   396500  1442.0
4              ＷＡＣＵＬ  4173  情報・通信業   496400   989.0
5             ＨＥＮＮＧＥ  4475  情報・通信業   693900  1003.0
6               ＢＡＳＥ  4477  情報・通信業  2716600   323.0
7            免疫生物研究所  4570     医薬品  5652400   800.0
8             メドレックス  4586     医薬品  8340900   264.0
9       プレミアアンチエイジング  4934      化学   322100  1289.0
10            ｊｉｇ．ｊｐ  5244  情報・通信業   713800   437.0
11            Ｕｎｉｐｏｓ  6550   サービス業   491000   198.0
12    ＨＡＮＡＴＯＵＲ　ＪＡＰＡＮ  6561   サービス業   328400  2392.0
13  アジャイルメディア・ネットワーク  6573   サービス業   456100  1437.0
14               ポート  7047   サービス業   287000  2711.0
15          東京通信グループ  7359   サービス業   700000  1227.0
16                和心  9271     小売業   249400   496.0
17          ＩＮＦＯＲＩＣＨ  9338   サービス業   621700  3385.0
18              スマサポ  9342   サービス業   306600  1890.0
19      リニューアブル・ジャパン  9522  電気・ガス業  2073200  1147.0

In [29]:
# CSVファイル保存
save_df_as_csv(filtered_perfect_order_week_day_tse_grows, '3_東証G_UPO')

In [30]:
# 株価情報が下降トレンドのパーフェクトオーダー（週足）かどうかの判断
filtered_reverse_perfect_order_week_tse_grows = filtered_ticker(filtered_tse_grows, perfect_order={'mas': [5, 20], 'period_type': 'W', 'reverse': True})
filtered_reverse_perfect_order_week_tse_grows

                      銘柄名   コード      業種       出来高      株価
0                   ケアネット  2150   サービス業    281200   869.0
1                     アマナ  2402   サービス業    538400   553.0
2                      海帆  3133     小売業   2040900   397.0
3                 アクセルマーク  3624  情報・通信業   4439700   255.0
4                  Ａｉｍｉｎｇ  3911  情報・通信業  12829500   404.0
5                    プレイド  4165  情報・通信業    537900   636.0
6               ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業    557600  1141.0
7                エクサウィザーズ  4259  情報・通信業    630800   429.0
8                   セーフィー  4375  情報・通信業    414100   870.0
9                    ＪＤＳＣ  4418  情報・通信業    716400   952.0
10               Ｃｈａｔｗｏｒｋ  4448  情報・通信業    414600   834.0
11                    フリー  4478  情報・通信業    882500  2728.0
12                  アンジェス  4563     医薬品   1916700   104.0
13                  キャンバス  4575     医薬品    313700   982.0
14             キッズウェル・バイオ  4584     医薬品    234700   184.0
15           オンコリスバイオファーマ  4588     医薬品    314900   663.0
16                  リボミック  4591     医薬品    424300   147.0
17                  サンバイオ  4592     医薬品    250300   576.0
18                   ヘリオス  4593     医薬品    706900   241.0
19             ブライトパス・バイオ  4594     医薬品    498300   123.0
20                  ステムリム  4599     医薬品    308600   840.0
21                   モダリス  4883     医薬品   1538000   171.0
22                   ティムス  4891     医薬品    457700   260.0
23                  リプロセル  4978      化学    287200   253.0
24        モンスターラボホールディングス  5255  情報・通信業    642400   348.0
25  トランザクション・メディア・ネットワークス  5258  情報・通信業    821500  1095.0
26                 アディッシュ  7093   サービス業    606500  1210.0
27             ライフネット生命保険  7157     保険業    262500  1051.0
28                グッドスピード  7676     小売業   1514300  1115.0
29   ＢｕｙＳｅｌｌ　Ｔｅｃｈｎｏｌｏｇｉｅｓ  7685     卸売業    202400  4200.0
30      プレシジョン・システム・サイエンス  7707    精密機器    368100   340.0
31                  セルシード  7776    精密機器    513500   264.0
32         スリー・ディー・マトリックス  7777    精密機器    379000   139.0
33              ＣＹＢＥＲＤＹＮＥ  7779    精密機器    816900   298.0
34                イーディーピー  7794   その他製品   1173000  2169.0
35                  ブシロード  7803   その他製品   1659300   452.0
36                 スカイマーク  9204     空運業    659800  1158.0
37                マイクロ波化学  9227   サービス業    584100  1620.0
38                 サンウェルズ  9229   サービス業    370600  2821.0
39          Ｍ＆Ａ総研ホールディングス  9552   サービス業    678200  3500.0
40                 マイクロアド  9553   サービス業    525900  3035.0
41                 プログリット  9560   サービス業    272800  1113.0

In [31]:
# 株価情報が下降トレンドのパーフェクトオーダー（日足）かどうかの判断
filtered_reverse_perfect_order_week_day_tse_grows = filtered_ticker(filtered_reverse_perfect_order_week_tse_grows,  perfect_order={'mas': [5, 20, 60], 'reverse': True})
filtered_reverse_perfect_order_week_day_tse_grows

                      銘柄名   コード      業種      出来高      株価
0                   ケアネット  2150   サービス業   281200   869.0
1                      海帆  3133     小売業  2040900   397.0
2                 アクセルマーク  3624  情報・通信業  4439700   255.0
3                    プレイド  4165  情報・通信業   537900   636.0
4               ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業   557600  1141.0
5                エクサウィザーズ  4259  情報・通信業   630800   429.0
6                Ｃｈａｔｗｏｒｋ  4448  情報・通信業   414600   834.0
7                     フリー  4478  情報・通信業   882500  2728.0
8                   キャンバス  4575     医薬品   313700   982.0
9              キッズウェル・バイオ  4584     医薬品   234700   184.0
10                  サンバイオ  4592     医薬品   250300   576.0
11                   ヘリオス  4593     医薬品   706900   241.0
12             ブライトパス・バイオ  4594     医薬品   498300   123.0
13                  ステムリム  4599     医薬品   308600   840.0
14                   モダリス  4883     医薬品  1538000   171.0
15                   ティムス  4891     医薬品   457700   260.0
16                  リプロセル  4978      化学   287200   253.0
17        モンスターラボホールディングス  5255  情報・通信業   642400   348.0
18  トランザクション・メディア・ネットワークス  5258  情報・通信業   821500  1095.0
19                グッドスピード  7676     小売業  1514300  1115.0
20   ＢｕｙＳｅｌｌ　Ｔｅｃｈｎｏｌｏｇｉｅｓ  7685     卸売業   202400  4200.0
21      プレシジョン・システム・サイエンス  7707    精密機器   368100   340.0
22                  セルシード  7776    精密機器   513500   264.0
23         スリー・ディー・マトリックス  7777    精密機器   379000   139.0
24              ＣＹＢＥＲＤＹＮＥ  7779    精密機器   816900   298.0
25                イーディーピー  7794   その他製品  1173000  2169.0
26                  ブシロード  7803   その他製品  1659300   452.0
27                 スカイマーク  9204     空運業   659800  1158.0
28                マイクロ波化学  9227   サービス業   584100  1620.0
29                 サンウェルズ  9229   サービス業   370600  2821.0
30                 マイクロアド  9553   サービス業   525900  3035.0

In [32]:
# CSVファイル保存
save_df_as_csv(filtered_reverse_perfect_order_week_day_tse_grows, '6_東証G_DPO')

# 東証スタンダード・プライム選抜をCSVとして保存

In [33]:
import pandas as pd

def remove_duplicate_rows(dataframe, *other_dataframes):
    """重複しているティッカーコードの行を削除する

    :param dataframe: 対象のデータフレーム
    :param other_dataframes: 重複しているかどうかの判断のためのデータフレーム
    :return 引数dataframeで重複行を削除したもの
    """
    # データフレームをコピーして新しいデータフレームを作成
    result_df = dataframe.copy()

    # 重複確認のためのセットを作成
    unique_values = set()
    for df in other_dataframes:
        unique_values.update(df['コード'])

    # 重複しているティッカーコードを削除
    result_df = result_df[~result_df['コード'].isin(unique_values)]

    return result_df

In [34]:
# 東証スタンダードの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... １００円以上、5000円以下
filtered_tse_standard_2 = filtered_ticker(tse_standard, min_volume=500000, min_price=100, max_price=5000)
filtered_tse_standard_2

'timestamp'
銘柄コード[92649]の株価情報を取得できなかったため、スキップしました。
'timestamp'
銘柄コード[9967]の株価情報を取得できなかったため、スキップしました。

                 銘柄名   コード      業種      出来高           株価
0                出前館  2484  情報・通信業   603400   408.000000
1            イメージ　ワン  2667     卸売業   665100   622.000000
2      ポラリス・ホールディングス  3010   サービス業   842000   171.000000
3            ビューティ花壇  3041     卸売業  1056700  1094.000000
4   ジェイ・エスコムホールディングス  3779  情報・通信業  6214600   173.000000
5   ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993  情報・通信業   501600  2585.000000
6               アテクト  4241      化学  1002300   764.000000
7     セプテーニ・ホールディングス  4293   サービス業   514000   414.000000
8           環境管理センター  4657   サービス業  1124100   614.000000
9            アトラグループ  6029   サービス業  1520200   272.000000
10           シライ電子工業  6658    電気機器   512800   568.000000
11   フェローテックホールディングス  6890    電気機器   585200  3030.000000
12             名村造船所  7014   輸送用機器  6770500   852.000000
13               ＧＭＢ  7214   輸送用機器  1113900  1900.000000
14             ニチリョク  7578     小売業   914600   570.000000
15              テイツー  7610     小売業   897300   188.000000
16        アースインフィニティ  7692     小売業   611900   158.000000
17             クボテック  7709    精密機器  1955300   307.000000
18     ラオックスホールディングス  8202     小売業  3092700   282.000000
19               アコム  8572  その他金融業   896400   340.600006
20            日本テレホン  9425  情報・通信業   591900   355.000000

In [35]:
# ティッカーコードが重複している行を削除
filtered_tse_standard_2_remove_duplicate = remove_duplicate_rows(filtered_tse_standard_2, filtered_perfect_order_week_day_tse_standard, filtered_reverse_perfect_order_week_day_tse_standard)
filtered_tse_standard_2_remove_duplicate

                 銘柄名   コード      業種      出来高           株価
0                出前館  2484  情報・通信業   603400   408.000000
3            ビューティ花壇  3041     卸売業  1056700  1094.000000
5   ＰＫＳＨＡ　Ｔｅｃｈｎｏｌｏｇｙ  3993  情報・通信業   501600  2585.000000
10           シライ電子工業  6658    電気機器   512800   568.000000
13               ＧＭＢ  7214   輸送用機器  1113900  1900.000000
15              テイツー  7610     小売業   897300   188.000000
17             クボテック  7709    精密機器  1955300   307.000000
19               アコム  8572  その他金融業   896400   340.600006
20            日本テレホン  9425  情報・通信業   591900   355.000000

In [36]:
# CSVファイル保存
save_df_as_csv(filtered_tse_standard_2_remove_duplicate, '7_東証S_選抜')

In [37]:
# 東証グロースの銘柄コードを以下の条件に合致するもののみにフィルタリング
# 出来高　... 50万株以上
# 株価 ... １００円以上、5000円以下
filtered_tse_grows_2 = filtered_ticker(tse_grows, min_volume=500000, min_price=100, max_price=5000)
filtered_tse_grows_2

'timestamp'
銘柄コード[3782]の株価情報を取得できなかったため、スキップしました。

                      銘柄名   コード      業種       出来高      株価
0              ジーエヌアイグループ  2160     医薬品   9971900  2095.0
1            ウェッジホールディングス  2388  その他金融業    523200   147.0
2                     アマナ  2402   サービス業    538400   553.0
3                      海帆  3133     小売業   2040900   397.0
4                 アクセルマーク  3624  情報・通信業   4439700   255.0
5                  Ａｉｍｉｎｇ  3911  情報・通信業  12829500   404.0
6               ソーシャルワイヤー  3929  情報・通信業   1013100   327.0
7            シェアリングテクノロジー  3989  情報・通信業    843200   718.0
8                     アララ  4015  情報・通信業   1249700   784.0
9                    プレイド  4165  情報・通信業    537900   636.0
10              ＥＮＥＣＨＡＮＧＥ  4169  情報・通信業    557600  1141.0
11               エクサウィザーズ  4259  情報・通信業    630800   429.0
12                   ＪＤＳＣ  4418  情報・通信業    716400   952.0
13                 ＨＥＮＮＧＥ  4475  情報・通信業    693900  1003.0
14                   ＢＡＳＥ  4477  情報・通信業   2716600   323.0
15                    フリー  4478  情報・通信業    882500  2728.0
16                  アンジェス  4563     医薬品   1916700   104.0
17                免疫生物研究所  4570     医薬品   5652400   800.0
18                 メドレックス  4586     医薬品   8340900   264.0
19                   ヘリオス  4593     医薬品    706900   241.0
20                   モダリス  4883     医薬品   1538000   171.0
21                 ｊｉｇ．ｊｐ  5244  情報・通信業    713800   437.0
22                    カバー  5253  情報・通信業   2109600  2171.0
23        モンスターラボホールディングス  5255  情報・通信業    642400   348.0
24  トランザクション・メディア・ネットワークス  5258  情報・通信業    821500  1095.0
25                 Ｇｌｏｂｅｅ  5575  情報・通信業    638700  2138.0
26          ＡＲアドバンストテクノロジ  5578  情報・通信業    530300  2810.0
27              Ｌａｂｏｒｏ．ＡＩ  5586  情報・通信業    734600  1145.0
28                   クラダシ  5884     小売業   4824000   439.0
29                  ＱＤレーザ  6613    電気機器    518600   707.0
30          トゥエンティーフォーセブン  7074   サービス業   1457200   350.0
31                 アディッシュ  7093   サービス業    606500  1210.0
32               東京通信グループ  7359   サービス業    700000  1227.0
33                グッドスピード  7676     小売業   1514300  1115.0
34                  セルシード  7776    精密機器    513500   264.0
35              ＣＹＢＥＲＤＹＮＥ  7779    精密機器    816900   298.0
36                イーディーピー  7794   その他製品   1173000  2169.0
37                  ブシロード  7803   その他製品   1659300   452.0
38                   トライト  9164   サービス業    643600   771.0
39                  ＧＥＮＤＡ  9166   サービス業   2053100  2698.0
40                 スカイマーク  9204     空運業    659800  1158.0
41                マイクロ波化学  9227   サービス業    584100  1620.0
42               ＩＮＦＯＲＩＣＨ  9338   サービス業    621700  3385.0
43           リニューアブル・ジャパン  9522  電気・ガス業   2073200  1147.0
44          Ｍ＆Ａ総研ホールディングス  9552   サービス業    678200  3500.0
45                 マイクロアド  9553   サービス業    525900  3035.0

In [38]:
# ティッカーコードが重複している行を削除
filtered_tse_grows_2_remove_duplicate = remove_duplicate_rows(filtered_tse_grows_2, filtered_perfect_order_week_day_tse_grows, filtered_reverse_perfect_order_week_day_tse_grows)
filtered_tse_grows_2_remove_duplicate

              銘柄名   コード      業種       出来高      株価
1    ウェッジホールディングス  2388  その他金融業    523200   147.0
2             アマナ  2402   サービス業    538400   553.0
5          Ａｉｍｉｎｇ  3911  情報・通信業  12829500   404.0
6       ソーシャルワイヤー  3929  情報・通信業   1013100   327.0
7    シェアリングテクノロジー  3989  情報・通信業    843200   718.0
12           ＪＤＳＣ  4418  情報・通信業    716400   952.0
16          アンジェス  4563     医薬品   1916700   104.0
22            カバー  5253  情報・通信業   2109600  2171.0
25         Ｇｌｏｂｅｅ  5575  情報・通信業    638700  2138.0
26  ＡＲアドバンストテクノロジ  5578  情報・通信業    530300  2810.0
27      Ｌａｂｏｒｏ．ＡＩ  5586  情報・通信業    734600  1145.0
28           クラダシ  5884     小売業   4824000   439.0
29          ＱＤレーザ  6613    電気機器    518600   707.0
30  トゥエンティーフォーセブン  7074   サービス業   1457200   350.0
31         アディッシュ  7093   サービス業    606500  1210.0
38           トライト  9164   サービス業    643600   771.0
39          ＧＥＮＤＡ  9166   サービス業   2053100  2698.0
44  Ｍ＆Ａ総研ホールディングス  9552   サービス業    678200  3500.0

In [39]:
# CSVファイル保存
save_df_as_csv(filtered_tse_grows_2_remove_duplicate, '8_東証G_選抜')